PORT=3001
MONGODB_URI=mongodb+srv://studyhub:SENHA@cluster0.svd4ho6.mongodb.net/studyhub?retryWrites=true&w=majority
DISCORD_BOT_TOKEN=seu_token
DISCORD_GUILD_ID=seu_guild_id
FRONTEND_URL=https://gamerkaua00.github.io
# Cole aqui a URL do Render para o keep-alive funcionar:
RENDER_EXTERNAL_URL=https://studyhub-backend-psdy.onrender.com
